.menu {
  height: 100vh;
  margin-top: 20rem;
}

a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.menu-header {
  height: 60vh;
  width: 100%;
  background: url("/assets/friends-interior.png") no-repeat center;
  background-size: cover;
}

.menu-card {
  background-color: #fff;
  width: 80%;
  margin: -22rem auto;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-bottom: 5rem;
}

.menu_image_plate {
  height: 8em;
  width: 8em;
  margin-top: 2em;
}

.menu-card-header {
  text-align: center;
}

.price {
  font-size: 0.2rem;
  color: red;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
}

.fish {
  margin-top: 5rem;
}

.menu-title {
  color: #333;
  margin-top: -4rem;
  margin-bottom: 1rem;
}

.section-subtitle {
  margin-bottom: 5rem;
}

.starters, .salads, .pizzas, .pastas, .grills, .rizotos, .breadmeats, .boards, .orders, .burgers, .buritos, .desserts {
  padding: 1rem;
}

.starter, .salad, .pizza, .pasta, .grill, .rizoto, .breadmeat, .board, .order, .burger, .burito, .dessert {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.starters h2, .salads h2, .pizzas h2, .pastas h2, .grills h2, .rizotos h2, .breadmeats h2, .boards h2,
.orders h2, .burgers h2, .buritos h2, .desserts h2 {
  color: #ff7417;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 3rem;
  margin-top: -1rem;
  font-weight: 300;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.starters h2:hover, .salads h2:hover, .pizzas h2:hover, .pastas h2:hover, .grills h2:hover, .rizotos h2:hover, .breadmeats h2:hover, .boards h2:hover,
.orders h2:hover, .burgers h2:hover, .buritos h2:hover, .desserts h2:hover {
  cursor: pointer;
}

.starter-header, .salad-header, .pizza-header, .pasta-header, .grill-header, .rizoto-header, .breadmeat-header,
.board-header, .order-header, .burger-header, .burito-header, .dessert-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #afafaf;
  margin-bottom: 0.2rem;
  font-size: 0.3rem;
}

.starter-header h3, .salad-header h3, .pizza-header h3, .pasta-header h3, .grill-header h3, .rizoto-header h3,
.breadmeat-header h3, .board-header h3, .order-header h3, .burger-header h3, .burito-header h3, .dessert-header h3 {
  font-size: 1.8rem;
  margin-right: 2rem;
  font-weight: 300;
}

.starter-header h4, .salad-header h4, .pizza-header h4, .pasta-header h4, .grill-header h4, .rizoto-header h4,
.breadmeat-header h4, .board-header h4, .order-header h4, .burger-header h4, .burito-header h4, .dessert-header h4 {
  font-size: 1.8rem;
  font-weight: 300;
}

.menu-paragraph {
  font-size: 1.2rem;
  color: #afafaf;
  margin-bottom: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .three-columns-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .two-columns-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .menu-card {
    margin: -30rem auto;
    width: 96%;
  }
  .read-more {
    max-width: 96%;
  }
  .fruits {
    margin-top: 2rem;
  }
  .about {
    margin-top: -15rem;
  }
}
/*# sourceMappingURL=menu.css.map */